@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  box-sizing: border-box;
}


body {
  font-family: "Varela Round", "Quicksand", sans-serif;
  background: url(promise.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 4.5em;
  color: #060606;
  margin-bottom: 5px;
}
h4 {
    text-align: center;
    font-size: 1.5em;
    color: #db129f;
    margin-bottom: 5px;
  }
  h5 {
    text-align: center;
    font-size: 1.5em;
    color: #0c0c0c;
    margin-bottom: 5px;
  }

